@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Montserrat", sans-serif;
}
.logo img {
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}
nav{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;

}
:root{
  --red:#d01c28;
  --gray:#2e2e2e;
}
*{
  margin: 0;
}
button{
  all: unset;
background: var(--red);
color: white;
height: 32px;
padding: 6px 16px;
font-weight: 500;
}
.Hero{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  height: calc(100vh-72px);
}
.hero-image img{
  height: 400px;
  width: 500px;
  border-radius: 10px;
  margin: 5px;
}
.brand-icons img{
  width: 60px; /* Adjust as needed */
   
}
.hero-btn{
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.hero-content h1{
  font-weight: 1000;
  font-size: 80px;
  line-height:102px;
}
.hero-content p{
  font-weight: 600;
  color: var(--gray);
}
.secondary{
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;
}